# Editor files
*.swp

# CMSSW stuff
HIPAnalysis_[0-9]*.py
*anEffAnalysis_run_[0-9]*_split_[0-9]*

# Python stuff
*.pyc
__init__.py

# CRAB3 stuff
test/tasks/*
crab_HIPAnalysis_[0-9]*py
crab_config_[0-9]*.py
test/outputs/*
prod_*.json
crab.log
test/oldtasks/

# ROOT stuff
*.root

# Plots
*.png
*.pdf

# bunch filling schemes
25ns_*b_*_*_*_*bpi*inj*.json
